@media (max-width: 770px){
    .product{
        flex-flow: column;
        height: 610px;
        width: 345px;
    }

    .product .image-product{
        border-radius: 2% 2% 0% 0%;
    }

    .product .about-product{
        font-weight: 500;
    }

    .product .about-card{
        gap: 15px;
        padding: 25px;
        max-width: 100%;
    }

    .about-card .bnt{
        width: 295px;
        height: 50px;
    }
}