main{
    height: 100dvh;
    background-color: var(--background);
}

.product-card p{
    font-family: "Montserrat", serif;
    font-size: 14px;
    color: var(--paragraph);
}

.product-card h2, .product-card strong,.product-card span{
    font-family: "Fraunces", serif;
}

.product-card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.product{
    display: flex;
    height: 450px;
    width: 600px;
    background-color: var(--card-background);
    border-radius: 2%;
}

.product .image-product{
    border-radius: 2% 0% 0% 2%;
    max-width: 100%;
}

.product .about-card{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 30px;
    max-width: 50%;
}

.about-card .product-type{
    font-size: 15px;
    letter-spacing: 5px;
}

.product .about-product{
    line-height: 22px;
}

.about-card .product-name{
    font-size: 33px;
    line-height: 30px;
}

.about-card .product-price{
    display: flex;
}

.about-card .product-price .price{
    font-size: 30px;
    letter-spacing: 1px;
    color: var(--price-and-button);
}

.about-card .product-price .discount{
    margin-left: 20px;
    align-self: center;
    font-size: 13px;
    text-decoration: line-through;
    color: var(--paragraph);
}

.about-card .bnt{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 240px;
    height: 50px;
    background-color: var(--price-and-button);
    border-radius: 10px;
    transition: 0.1s ease-in;
}

.about-card .bnt p{
    color: var(--card-background);
    font-weight: 700;
}

.about-card .bnt:active{
    background-color: var(--active-button);
}